

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>QR Alumnos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <h2>Nombre Curso: {{nombreCursoMostrar}}</h2>
      <h3>ID curso: {{idCursoMostrar}}</h3>
    </ion-card-header>
  </ion-card>

  <qrcode [qrdata]= "strinQr" [width]="380" [errorCorrectionLevel]="'M'"></qrcode>


  <ion-list>
    <ion-list-header>
      Alumnos del Curso: {{ nombreCursoMostrar }}
  </ion-list-header>
    <ion-item *ngFor="let alumno of alumnos">
     <ion-label>{{ alumno.nombre }}</ion-label>
    </ion-item>
  </ion-list>


  <ion-button expand="block" [routerLink]="['/home']">Guardar/Volver</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>

       <ion-modal [keepContentsMounted]="true">
           <ng-template>
              <ion-datetime id="datetime"></ion-datetime>
           </ng-template>
       </ion-modal>
    </ion-title>
  </ion-toolbar>

</ion-footer>