<ion-header>
  <ion-toolbar>
    <ion-title>Home Docente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

      <ion-text color="secondary">
        <h2>Bienvenido Profe: {{usuarioMostrar}}</h2>
        <h3>Correo: {{correoMostrar}}</h3>
        <h4>Id: {{idMostrar}}</h4>
      </ion-text> 

      <ion-list>
        <ion-item *ngFor="let curso of cursos">
          <ion-label>
            <h2>Nombre: {{ curso.nombre }}</h2>
            <h3>ID: {{ curso.id }}</h3>
            <h3>Código: {{ curso.codigo }}</h3>
            <h3>Sección: {{ curso.seccion }}</h3>
          </ion-label>
          <ion-button fill="outline" slot="end" (click)="verDetalleCurso(curso.id, curso.nombre)">Ver Detalle</ion-button>
        </ion-item>
      </ion-list>


  <ion-button expand="block" [routerLink]="['/login']">Cerrar Sesión</ion-button>
 


</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>

       <ion-modal [keepContentsMounted]="true">
           <ng-template>
              <ion-datetime id="datetime"></ion-datetime>
           </ng-template>
       </ion-modal>
    </ion-title>
  </ion-toolbar>

</ion-footer>